.linear-background-green {
    background: linear-gradient(
    90deg,
    #1D976C,
    #93F9B9
  );
}

.linear-background-yellow {
    background: linear-gradient(
    90deg,
    #CAC531,
    #f2fa84
  );
}

.linear-background-blue {
    background: linear-gradient(
    90deg,
    #373B44,
    #4286f4
  );
}

